@import "../../Global.scss";

.card-container {
  margin-top: 4px;
  .stock-card {
    width: auto;
    height: 190px;
    margin: 10px;
    background-color: white;
    box-shadow: 0px 3px 20px 1px rgba(122, 122, 122, 0.212);
    h5 {
      line-height: 0px;
      font-size: 16px;
      padding: 0;
      margin: 0;
    }
  }
  .scale-wrapper {
    width: 120px;
    padding: 13px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    .scale-graph {
      height: 94%;
      width: 2px;
      margin-left: 15px;
      position: relative;
      .triangle {
        width: 0;
        height: 0;
        position: absolute;
        left: -14px;
        border-style: solid;
        border-width: 6.5px 0 6.5px 13px;
        border-color: transparent transparent transparent #ffffff;
      }
      }
    }
    .scale-amounts { 
      height: 100%;
      margin-left: 10px;
      display: flex;
      align-items: baseline;
      flex-direction: column;
      justify-content: space-between;
      div {
        font-weight: 600;
      }
    }

    div {
      color: white;
    }
  }
  .info-wrapper {
    width: 380px;
    padding: 10px 25px;
    margin: 10px 0;
    .name-info {
      width: 380px;
      margin-bottom: -15px;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      h2 {
        line-height: 5px;
        text-transform: uppercase;
        font-weight: 800;
      }
      h4 {
        line-height: 0px;
        text-transform: uppercase;
        color: #98a1a8;
        font-size: 18px;
        font-weight: 600;
      }
    }
    .current-info {
      height: 49px;
      display: flex;
      align-items: baseline;
      margin: 0px 0;
      padding: 0;

      h2 {
        font-size: 40px;
        line-height: 0px;
        font-weight: 450;
        letter-spacing: 0px;
      }
      .net-amount {
        margin: 0 13px;
      }
    }
    .daily-info {
      padding-top: 20px;
      h5 {
        color: #98a1a8;
        font-weight: 500;
        text-transform: uppercase;
      }
      .high-amount {
        margin: auto 20px;
      }
    }
  }


// MEDIA QUERIES

@media only screen and (max-width: 1310px) {
  .card-container {
    width: 50%;
    .stock-card {
      height: auto;
    }
    .info-wrapper {
      width: 60%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      .current-info {
        padding-bottom: 13px;
      }
      .daily-info {
        width: 250px;
        padding: 0;
        height: auto;
        flex-wrap: wrap;
        h5 {
          margin: 13px 0;
        }
        .high-amount {
          margin: auto 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: 980px) {
  .card-container {
    width: 50%;
    min-width: 280px;
    .stock-card {
      .scale-wrapper {
        display: none;
      }
      .info-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 8px 25px;
        .current-info {
          height: auto;
          flex-direction: column;
          align-items: flex-end;
          align-content: center;
        }
        .daily-info {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 980px) {
  .card-container {
    h2 {
      font-size: 18px;
    }

    .info-wrapper {
      padding: 8px 25px;
      .current-info {
        h2 {
          font-size: 28px !important;
        }
      }
      .name-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        h4 {
          font-size: 15px;
          margin-top: 5px;
        }
      }
    }
  }
}

@media only screen and (max-width: 610px) {
  .card-container {
    width: 100%;
  }
}
