$header-color: rgb(78, 78, 116);

.app-container {
    height: 100vh;
    width: auto;
    background-color: rgb(243, 243, 243);
}

h1 {
    font-size: 75px;
}

h1, h2, h3, h4, h5 {
    color: $header-color
}
